body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #5A3E98;
    font-family: 'Courier New', Courier, monospace;
}

.container {
    text-align: center;
    background-color: #765d97;
    padding: 50px;
    border-radius: 20px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

h1 {
    font-size: 4rem;
    color: #fff;
    text-shadow: 2px 2px #00FFFF;
}

h2 {
    font-size: 1.5rem;
    color: #fff;
    text-shadow: 1px 1px #FF00FF;
}

.buttons {
    margin-top: 20px;
}

button {
    display: block;
    width: 200px;
    margin: 10px auto;
    padding: 10px;
    font-size: 1rem;
    color: #fff;
    background-color: #5A3E98;
    border: 2px solid #fff;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #00FFFF;
    color: #000;
}
